*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cornflowerblue;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    border: 5px solid black;
    border-width: 10px;
    padding: 10px;
    margin: 12% 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 45px;
}

#timeInput{
    font-size: 25px;
    margin: 20px;
    border: 5px solid;
    border-radius: 25px;
    text-align: center;
}
#timeInput::placeholder{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 50%;
    color: greenyellow;
    background-color: darkgreen;
    transition-duration: 0.2s;
    cursor: pointer;
}

button:hover{
    background-color: greenyellow;
    color: darkgreen;
}

h1{
    color: black;
    text-decoration: underline black;
}

/* to remove the default arrows in the input field*/
#timeInput::-webkit-outer-spin-button,
#timeInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#countdownDisplay{
    color: black;
    margin-top: 15px;
    margin-left: 25px;
    font-weight: bold;
}

